.pokeloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6FADFA;
  transition: opacity 0.6s ease;
  overflow: hidden;
}

.pokeloader--hide {
  opacity: 0;
  pointer-events: none;
}

.pokeloader__ball {
  position: relative;
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

/* ── Top ── */
.pokeloader__top {
  position: absolute;
  top: 0; left: 0;
  width: 160px;
  height: 80px;
  border-radius: 80px 80px 0 0;
  border: 2px solid #1a1a1a;
  border-bottom: none;
  background: linear-gradient(135deg, #ffffff 60%, #a01111 100%);
  transform-origin: center bottom;
  transition: transform 0.6s ease-in-out;
  backface-visibility: hidden;
  
}

/* Interior tapa */
.pokeloader__top::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 80px 80px 0 0;
  background: linear-gradient(135deg, hsl(360, 86%, 52%) 10%, #890b0b 100%);
}

/* ── Bottom ── */
.pokeloader__bottom {
  position: absolute;
  bottom: 0; left: 0;
  width: 160px;
  height: 80px;
  border-radius: 0 0 80px 80px;
  border: 2px solid #1a1a1a;
  border-top: none;
  transform-origin: center top;
  transition: transform 0.6s ease-in-out;
}

/* Interior bottom */
.pokeloader__bottom::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 0 0 80px 80px;
  background: linear-gradient(135deg, #ffffff 10%, #989696 100%);
}

/* ── Belt ── */
.pokeloader__belt {
  position: absolute;
  top: 50%; left: 0; right: 0;
  height: 5px;
  background: #1a1a1a;
  z-index: 2;
  transition: transform 0.6s ease-in-out;
}
.pokeloader__belt2{
  position: absolute;
  top: 50%; left: 0; right: 0;
  height: 0px;
  background: #1a1a1a;
  z-index: 2;
  transition: transform 0.6s ease-in-out;
}

/* ── Button ── */
.pokeloader__button {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
  border: 5px solid #1a1a1a;
  z-index: 3;
  transition: transform 0.6s ease-in-out, background 0.3s ease, box-shadow 0.3s ease;
}
.pokeloader__button2{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
  border: 5px solid #1a1a1a;
  z-index: 3;
  transition: transform 0.6s ease-in-out, background 0.3s ease;
}
.pokeloader__button::after {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 12px; height: 12px;
  border-radius: 50%;
  
}

/* ── Flash ── */
.pokeloader__flash {
  position: absolute;
  inset: -20px;
  border-radius: 50%;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

/* ══════════════════
   SPIN
══════════════════ */
.pokeloader__ball--spin {
  animation: pokespin 0.2s ease-in-out;
}

@keyframes pokespin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

/* ══════════════════
   ZOOM — se acerca
══════════════════ */
.pokeloader__ball--zoom {
  transform: scale(8);
}

/* ══════════════════
   OPEN
══════════════════ */
.pokeloader__ball--open .pokeloader__top {
  transform: translateY(-55px) rotateX(40deg);
  background: #ffe066;
  border-color: #c8a000;
  box-shadow: 0 0 10px 3px rgba(255, 220, 0, 0.6);
}

.pokeloader__ball--open .pokeloader__bottom {
  transform: translateY(40px) rotateX(-15deg);
}

.pokeloader__ball--open .pokeloader__belt {
  transform: translateY(1500%) ;
  height: 2.5px;;
}
.pokeloader__ball--open .pokeloader__belt2 {
  transform: translateY(-2200%);
  height: 2.5px;;
}

.pokeloader__ball--open .pokeloader__button {
  transform: translate(-50%, calc(-50% - 55px)) rotateX(40deg);
  background: #ffe066;
  border-color: #c8a000;
  box-shadow: 0 0 10px 3px rgba(255, 220, 0, 0.6);
}

.pokeloader__ball--open .pokeloader__button2 {
  transform: translateY(60%) translateX(-50%);
  background: hsl(213, 93%, 71%);
  border-color: hsl(213, 93%, 71%)
}
.pokeloader__ball--open .pokeloader__flash {
  animation: flashout 0.4s ease forwards;
}

@keyframes flashout {
  0%   { opacity: 0.9; }
  100% { opacity: 0; }
}