.pokefooter {
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
  }
  
  .pokefooter__white {
    background: white;
    height: 50px;
  }
  
  .pokefooter__black {
    background: linear-gradient(to bottom, rgb(2, 0, 0), rgb(71, 71, 71));
    height: 25px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .pokefooter__outcircle {
    position: absolute;
    bottom: 60%; 
    right: 50%;
    transform: translateX(50%);
    background: transparent;
    border-radius: 50%;
    border-bottom: 30px solid hsl(213, 93%, 71%);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .pokefooter__incircle {
    background: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokefooter__inincircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1;
}