.pokeselect{
    padding: 10px;
    width: 100%;
    height: 50%;
    margin-right: 5%;
    border: none;
    box-shadow: 0 0 10px white;
    color: rgb(137, 137, 137);
    text-shadow: none;
}
option {
    font-size: 14px;
    color: rgb(137, 137, 137);
    background-color: #fff;
    text-transform: capitalize;
}
