.pokedex__wave{
    text-align: left;
    margin: 25px 10px 15px;
    justify-content: center;
    font-size: medium;
    font-weight: 300 ;
}
.pokedex__wave span {
    color: red;
    font-weight: 600;
    
}
.pokedex__container {
    padding: 20px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.pokedex__filters1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 3%;

}
.pokedex__filters1 select{
    margin-top: 10px;
    height: 40px;
}
.pokedex__filters{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 50%;
    Width: 100%;
    justify-content: center;

}
.pokedex__filters2{
    display: flex;
    width: 50%;
    Width: 100%;
    justify-content: center;
    align-items: center;
}
.pokedex__in{
    min-width: 70%;
    padding: 10px;
    text-align: left;
    border: none;
    box-shadow: 0 0 10px white;
    color: rgb(137, 137, 137);
    font-size: medium;
}
.pokedex__btn{
    box-shadow: 0 0 10px white;
    padding: 10px 20px;
    background-color: #D93F3F;
    border: 2px solid #D93F3F;
    color: white;
}
.pokedex__change-name {
  margin: 10px;
  background: white;
  border-radius: 6px;
  padding: 2px 10px;
  cursor: pointer;
  font-size: 0.8em;
  opacity: 0.7;
}

.pokedex__change-name:hover {
  opacity: 1;
}

