.pokeinfo__back {
    display: flex;
    position: absolute;
    width: 100%;
    height: 40%;
    border: 0;
    
}
.pokeinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: black;
}
.pokeinfo__cont{
    background-color: white;
    width: 90%;
    max-width: 800px;
    border: 1px solid rgb(96, 96, 96);
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px white;
}
.pokeinfo__img {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 6.5%;
    position: relative; 
}
.pokeinfo__normal {
    width: 35%;
    justify-self: center;
    position: relative;
}
.pokeinfo__shiny {
    width: 15%;
    position: relative;
    transition: width, 1s
}
.pokeinfo__shiny:hover{
    width: 35%;
    transition: width, 1s
}
.pokeinfo__img:first-child p{
    right: 0;
    margin-bottom: 10%;
    font-size: 15px;
    position: relative;
    z-index: 10000;
}
.pokeinfo__info{
    justify-content: center;
    align-items: center;
}
.pokeinfo__num{
    margin: 0 auto;  
    margin-top: 10px;  
    width: fit-content; 
    padding: 4px;   
    background: none ;
    border: 1px solid #b9b9b9 ;
}
.pokeinfo__info1 {
    display: flex;
    align-items: center;
    width: 100%;
} 
.pokeinfo__name {
    text-transform: uppercase;
    background: none ;
    border: none ;
}
.pokeinfo__hr{
    flex-grow: 1;
    border: none;
    border-top: 1px solid #b9b9b9;
    margin: 1px ;

}
.pokeinfo__fisic{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    padding-top: 15px;

}
.pokeinfo__height, .pokeinfo__weight{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.pokeinfo__height1{
    padding: 0 0 0 30px; 
}

.pokeinfo__other{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokeinfo__abilities{
    display: flex;
    background: #6FADFA;
    color: white;
    border-radius: 20px;
    padding: 0 3px;
}
.pokeinfo__types, .pokeinfo__abilities1{    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin: 5px;
    padding: 10px 0;
    gap: 5px;
}
.pokeinfo__ability1, .pokeinfo__type1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokeinfo__types li{
    border: none;
    padding: 3px 5px;
    font-weight: 900;  
    border-radius: 30px;
}
.pokeinfo__img2{
    height: fit-content;
    width: 100px;
    opacity: 10%;
}
.pokeinfo__stats{
    padding-bottom: 20px;
    text-align: left;
}

.pokeinfo__stats-item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.outbar {
    overflow: hidden;
    grid-column: span 2;
    border: 1px solid;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    background-color: rgb(228, 228, 228);
    border: none;
}

.inbar {
    background-color: orange;
    height: 100%;
}
.datos1{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 3px;
}
.pokeinfo__title{
    display: flex;
    text-align: left;
    align-items: center;
    width: 100%;
    color: #E6E6E6;
    font-weight: 900;
    font-size: 30px;
}
.hr2{
    margin: 0;
    margin-left: 3px;
    border-top: 1px solid #E6E6E6;

}
/* CONTENEDOR GENERAL */
.moves-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}
.moves_cargados{
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}
.moves-button{
    background: #6FADFA;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    align-self: center;
}
/* METODOS */
.moves-method{
    border: 1px solid #dcdcdc;
    border-radius: 15px;
    overflow: hidden;
    background: #f8f8f8;
    padding: 5px
}
.moves-method:hover{
    background: #d8d8d8;
    cursor: pointer;
    
}


/* CARTA DE MOVIMIENTO */
.move-card{
    margin: 10px;
    border: 1px solid #aba8a8;
    border-radius: 12px;
    background: white;
    flex-direction: row;
    
}

.move-card summary{
    cursor: pointer;
    border-radius: 12px 12px 0 0;
    padding: 12px 15px;
    font-weight: 600;
    
}

.move-card summary:hover{
    background: #d8d8d8;
    border-radius: 12px ;
}

/* INFO INTERNA */
.move-info{
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.move-info p{
    margin: 5px 0;
}
.move-info-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.move-flavor{
    width: max-content;
    height: max-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    
}
/* VERSIONES */
.move-info ul{
    margin-top: 10px;
    padding-left: 20px;
    flex-direction: row;
}

.move-info li{
    margin: 3px 0;
    flex-direction: row;
}

/* BADGES */
.move-badges{
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.badge{
    padding: 4px 10px;
    border-radius: 20px;
    color: white;
    border: none;
}

.badge-category{
    background: #666;
}

.pokeinfo__games1{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.pokeinfo__games{
    background-color: #E5E5E5;
    border-radius: 20px;
    padding: 6px 10px;
    color: #454444;
}
.pokeinfo__evos{
    width: 100%;
    justify-self: center;
    align-self: center;
}
.last{
    display: flex;
    margin-bottom: 20px;
    justify-content:center;
}
