/* ── Movimientos ── */
.moves__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
  color: black;
}

.moves_cargados {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}

.moves__method {
  border: 1px solid #dcdcdc;
  border-radius: 15px;
  overflow: hidden;
  background: #f8f8f8;
  padding: 5px;
}

.moves__method:hover {
  background: #d8d8d8;
  cursor: pointer;
}

.move__card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid #aba8a8;
  border-radius: 12px;
  background: white;
  
}

.move__card summary {
  cursor: pointer;
  border-radius: 12px 12px 0 0;
  padding: 12px 15px;
  font-weight: 600;
}

.move__card summary:hover {
  background: #d8d8d8;
  border-radius: 12px;
}

.move__info {
  flex-direction: row-reverse;
  padding: 15px;
  text-align: left;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.move__info p { margin: 5px 0; }

.move__infodata {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  gap: 10px;
}
.move__infos{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.move__infos2{
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.move__flavor {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.move__flavor :first-child { font-weight: bolder; }

.move__info ul {
  margin-top: 10px;
  padding-left: 20px;
}

.move__info li { margin: 3px 0; }

.move__badges {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.badge {
  padding: 4px 10px;
  border-radius: 20px;
  color: white;
  border: none;
}